<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Job for Company</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1 class="text-center" th:text="${ownerCompany.getCompName()}"></h1>
    <div class="mx-2 my-4">
        <table class="table table-bordered table-striped my-4">
            <thead>
            <tr>
                <th>STT</th>
                <th>Job name</th>
                <th>Job description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody th:each="job, iterStat : ${jobs}">
            <tr>
                <td th:text="${iterStat.index + 1}">1</td>
                <td><span th:text="${job.getJobName()}">Skill Name</span></td>
                <td><span th:text="${job.getJobDesc()}">Skill Description</span></td>
                <input type="hidden" th:value="${job.getId()}" id="skillId-${iterStat.index}">
                <td>
                    <a class="btn btn-primary" href="/company/cms/viewCandidate">View Candidate</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
